<ion-header>

  <ion-navbar>
    <ion-title>Events</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list *ngFor="let event of events">
    <ion-card>
      <ion-item navPush="EventDetailPage"
                [navParams]="event">
        <ion-avatar item-left>
          <img *ngIf="event.media"  src="{{event.media.content[0].url}}">
        </ion-avatar>
        <h2>{{event.title}}</h2>
        <p>{{event.description | slice:0:200}}....</p>
      </ion-item>
    </ion-card>
    <br>
    <br>
  </ion-list>
</ion-content>
