<ion-header>

  <ion-navbar>
    <ion-title>Events</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>
    <ion-item *ngFor="let event of events" navPush="EventDetailPage"
              [navParams]="event">
      <ion-thumbnail item-start>
        <img *ngIf="event.media"  src="{{event.media.content[0].url}}">
      </ion-thumbnail>
      <h2>{{event.title}}</h2>
      <p>{{event.description | slice:0:200}}....</p>
      <button ion-button clear item-end>View</button>
    </ion-item>
  </ion-list>

</ion-content>
