<ion-header>

  <ion-navbar>
    <ion-title>Events</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngFor="let event of eventsList">
      <ion-card>
      <img *ngIf="event.media"  src="{{event.media.content[0].url}}" item-left/>
      <ion-card-content text-wrap>
        <ion-card-title>
           {{event.title}}
          </ion-card-title>
        <p >
          {{event.description | slice:0:200}}....
        </p>
      </ion-card-content>
    </ion-card>
    <br>
    <br>
  </div>
</ion-content>
